/*helpers*/
.border {
  border:1px solid #fff;
}
.padding {
  padding: 7px;
}
.active {
  color: #fff !important;
}
/*App*/
.app-wrapper {
  display: grid;
  grid-template-areas: 
    "header header"
    "nav profile";
  grid-template-rows: 60px auto;
  grid-template-columns: 2fr 10fr;
}
/*header*/
.header {
  grid-area: header;
  background-color: #cd4236;
  margin-bottom: 10px;
}
/*nav*/
.nav {
  grid-area: nav;
  background-color:#bab3b2;
}
.nav ul li {
  padding: 7px;
}
.nav a {
  color: #000;
  transition: 0.3s ease;
}
.nav a:hover {
  color: #ae323b;
}
/*profile*/
.profile {
  display: grid;
  grid-area: profile;
  background-color: #988177;
  grid-template-areas:
    "profile-header profile-header"
    "profile-logo profile-details"
    "posts posts";
  grid-template-rows: 60px auto auto;
  grid-template-columns: 2fr 10fr;
  margin-left: 10px;  
}
 .profile > div {
    padding: 5px;
 }
.profile-header {
  grid-area: profile-header;
  background-color: #ae323b;
}
.profile-logo {
  grid-area: profile-logo;

}
.profile-details {
  grid-area: profile-details;

}
/*Posts*/
.posts {
  grid-area: posts;
  background-color: #ccc;
}
.post-text {

}